body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.input {
    float: right;
    margin-right: 100px;
}

a:link {
    text-decoration: none;
    color: rgb(10, 124, 159);
}

a:visited {
    color: rgb(10, 124, 159);
}